<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path('amsterdam.jpg') %>)">
  <h1>YOUR NEXT DESTINATION THREE CLICKS AWAY</h1>
  <h3>Define a budget, pick a destination and book your trip</h3>
 </div>

<div class="intro">
  <h2>WANNA KNOW HOW IT WORKS?</h2>
  <div class="cards-grid">
    <div class="card-landing">

      <h3>Define a Budget</h3>
    </div>
  </div>
</div>
