<div class="info-window">
  <div class="info-window-images">
  <%= cl_image_tag offer.destination.accommodation.room %>
  </div>
  <div class="info-window-text">
    <h3><%= offer.destination.accommodation.name %></h3>
    <h6><%= offer.address %></h6>
  </div>
</div>
