.banner {
  background-size: cover;
  background-position: center;
  height: 68vh;
  text-align: left;
  padding-top: 100px;
  padding-left: 160px;
}

.banner h1 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 40px;
    font-family: "Bebas Neue"
}

.banner h3 {
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    font-family: "Roboto";
    margin-bottom: 20px;
}
