.btn-flat {
  color: white;
  padding: 18px 18px;
  border-radius: 4px;
  background: $red;
  transition: background 0.3s ease;
  width: 300px;
  justify-content: space-between;
 }

.btn-flat:hover {
  background: #F1B9B9;
  color: white;
}


.back .back-button {
  margin-top: 40px;
  color: #F1B9B9;
  font-size: 50px;
  margin-left: 30px;
 }

.back .back-button:hover {
  color: $red;
}

.back  {
  color: #F1B9B9;
  font-size: 25px;
  display: flex;
  align-items: flex-end;
}

.back:hover  {
  color: $red;
  text-decoration: none;
}

.back:hover {
  color: $red;
  text-decoration: none;
}

.bottom-buttons {
  display: flex;
  justify-content: flex-start;
}


// BOOKING BUTTONS

.btn-booking {
  width: 250px;
  background: $red;
  color: white;
  font-family: "Bebas Neue";
  font-size: 24px;
  text-align: center;
  padding: 16px 24px;
  border-radius: 8px;
  word-spacing: 5px;
}

.btn .btn-booking :hover {
  background: #F1B9B9;
  color: white;
}

