// Buttons

.buttons {
  display: flex;
  justify-content: center;
  align-content: space-evenly;
  margin-bottom: 50px;
}

.button-primary {
  width: 250px;
  margin: 16px 16px;
  padding: 16px 24px;
  border-radius: 8px;
  font-family: "Bebas Neue";
  font-size: 24px;
  text-align: center;
  word-spacing: 5px;
  text-decoration: none;
  background-color: $red;
  color: white;

  &.success {
    background-color: #F1B9B9;
  }
}

.button-primary:hover {
  background: #F1B9B9;
  text-decoration: none;
  color: white;
}

.button-secondary {
  width: 250px;
  margin: 16px 16px;
  padding: 16px 24px;
  border-radius: 8px;
  font-family: "Bebas Neue";
  font-size: 24px;
  text-align: center;
  word-spacing: 5px;
  text-decoration: none;
  background-color: #F1B9B9;
  color: white;
}

.button-secondary:hover {
  background: $red;
  text-decoration: none;
  color: white;
}


.button-vertical {
  height: 200px;
  // margin: 16px auto;
  padding: 93px 16px 78px 16px;
  border-radius: 8px;
  font-family: "Bebas Neue";
  font-size: 24px;
  text-align: center;
  word-spacing: 5px;
  text-decoration: none;
  background-color: $red;
  color: white;
}

.button-vertical:hover {
  background: #F1B9B9;
  text-decoration: none;
  color: white;
}

.ladda-button[disabled],
.ladda-button[disabled]:hover,
.ladda-button[data-loading],
.ladda-button[data-loading]:hover {
  background: $red;
}
