.card-offer {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.card-offer img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-offer h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-offer p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-offer .card-offer-infos {
  padding: 16px;
}

.card-grid {
  height: 400px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 10vh;
  justify-content: center;
}


.card-destinations .card-destinations-number {
  position: absolute;
}

.card-destinations-number .radius-number2{
  position: relative;
}


.card-destinations img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.card-destinations-infos > h2 {
  font-size: 30px;
  font-family: $headers-font;
  margin: 0;
  color: $red;
  text-align: center;
  padding: 24px;
}

.radius-number2 {
  background: $red;
  padding: 10px 20px 10px 20px;
  color: white !important;
  border-radius: 50%;
  margin: 5px 5px;
}

.suggestions {
  justify-content: center;
  margin-top: 10vh;
}
