// BOOKING CARDS

.booking-title {
  text-align: center;
  // margin-bottom: 1em;
}

.booking-title h1 {
  font-size: 64px;
}

.booking-title p {
  font-size: 24px;
  color: gray;
}

.booking-card {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 2em 0em;
  border-radius: 8px 0px 0px 8px;
  box-shadow: 3px 3px 15px -3px rgba(0,0,0,0.2);
}

.booking-card-title {
  text-align: center;
  margin-bottom: 0;
}

.booking-card-title h2 {
  font-size: 48px;
}

.booking-card-title p {
  font-size: 20px;
  margin-bottom: 0px;
}

.booking-card-button {
  margin-bottom: 16px;
  font-family: "Bebas Neue";
  text-align: center;
  font-size: 24px;
}

#booking-img img {
  object-fit: cover;
  width: 600px;
  height: 500px;
  border-radius: 0px 8px 8px 0px;
  box-shadow: 3px 3px 15px -3px rgba(0,0,0,0.2);
}

// OFFERS CARDS

.card-offer {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  border-radius: 5px;
}

.card-offer img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-offer h2 {
  font-size: 30px;
  color: $red;
  font-weight: bold;
  margin-bottom: 4px;
}

.card-offer p {
  font-size: 12px;
  font-weight: light;
  opacity: .7;
  margin-bottom: 0;
}


.card-offer .card-offer-infos {
  width: 415px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 16px;
}

.card-offer-details {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.card-offer-flight {
  margin-right: 4em;
}

.card-offer-accommodation {
  margin-left: 4em;
}

#info-title {
  font-size: 16px;
}

#info-price {
  font-size: 16px;
}

.card-offer-title {
  width: 380px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.radius-number3 {
  background: $red;
  width: 30px;
  height: 30px;
  color: white !important;
  border-radius: 50%;
  justify-content: space-around;
  display: flex;
  //position: absolute;
  //justify-content: center;
  align-items: center;
}

// DESTINATIONS CARDS

.card-grid {
  // height: 400px;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: grey;
    transition: 0.3s;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  // margin-top: 20vh;
  justify-content: center;

}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}


@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

.card-destinations .card-destinations-number {
  position: absolute;
}

.card-destinations-number .radius-number2{
  position: relative;
}


.card-destinations img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.card-destinations-infos > h2 {
  font-size: 30px;
  font-family: $headers-font;
  margin: 0;
  color: $red;
  text-align: center;
  padding: 24px;
}

.radius-number2 {
  background: $red;
  padding: 10px 20px 10px 20px;
  color: white !important;
  border-radius: 50%;
  margin: 5px 5px;
}

.suggestions {
  justify-content: center;
}
