// OFFERS CARDS

.card-offer {
  overflow: hidden;
  height: 150px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  border-radius: 5px;
}

.card-offer img {
  height: 100%;
  width: 140px;
  object-fit: cover;
}

.card-offer h2 {
  font-size: 30px;
  color: $red;
  font-weight: bold;
  // margin-top: 8px;
  margin-bottom: 4px;
}

.card-offer p {
  font-size: 12px;
  font-weight: light;
  opacity: .7;
  margin-bottom: 0;
}

.card-offer .card-offer-infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 16px;
}

.card-offer-details {
  display: flex;
  align-items: center;
}

.card-offer-flight {
  margin-right: 6em;
}

#info-title {
  font-size: 16px;
}

#info-price {
  font-size: 16px;
}


// DESTINATIONS CARDS

.card-grid {
  // height: 400px;
  a {
    text-decoration: none;
    color: black;
  }
  a:hover {
    color: grey;
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  // margin-top: 20vh;
  justify-content: center;
}


.card-destinations .card-destinations-number {
  position: absolute;
}

.card-destinations-number .radius-number2{
  position: relative;
}


.card-destinations img {
  height: 400px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}


.card-destinations-infos > h2 {
  font-size: 30px;
  font-family: $headers-font;
  margin: 0;
  color: $red;
  text-align: center;
  padding: 24px;
}

.radius-number2 {
  background: $red;
  padding: 10px 20px 10px 20px;
  color: white !important;
  border-radius: 50%;
  margin: 5px 5px;
}
