.trail {
  display: flex;
  align-content: flex-start;
  justify-content: space-between;
}

.trail-circle {
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail h1 {
  font-size: 40px;
  text-align: center;
  padding: 20px 20px;

}

.trail p {
  width: 100px;
  text-align: center;
  align-self: auto;
  color: black;
}

.done {
  background-color: #F1B9B9;
  color: white;
}

.doing {
  background-color: $red;
  color: white;
}

.undone {
  background-color: white;
  border-color: $red;
  border-style: solid;
  border-width: 1px;
  color: $red;
}

