// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import "ladda/dist/ladda.min.css";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "flatpickr/dist/flatpickr";

body {
  height: 100%;
  margin: 0;
}

.wrapper {
  min-height: calc(100vh - 100px);
}

footer {
  height: 100px;
}
